<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDOTWbc2oX0c2v97KrhfCK6Olq9u7pkVs</string>
	<key>GCM_SENDER_ID</key>
	<string>530976358420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokedexJoash</string>
	<key>PROJECT_ID</key>
	<string>pokedex-joash</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-joash.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530976358420:ios:3b553dddf20bf604df2701</string>
</dict>
</plist>